[submodule "acesim/third_party/aircraft/PX4-Autopilot"]
	path = acesim/third_party/aircraft/PX4-Autopilot
	url = https://github.com/Xiangyuan-Xie/PX4-Autopilot.git
	branch = ACEPliot
[submodule "acesim/third_party/aircraft/Micro-XRCE-DDS-Agent"]
	path = acesim/third_party/aircraft/Micro-XRCE-DDS-Agent
	url = https://github.com/eProsima/Micro-XRCE-DDS-Agent.git
	branch = master
[submodule "acesim/deploy/aircraft/px4_msgs"]
	path = acesim/deploy/aircraft/px4_msgs
	url = https://github.com/Xiangyuan-Xie/px4_msgs
	branch = ACEPliot
[submodule "acesim/third_party/unreal/ACESimUE"]
	path = acesim/third_party/unreal/ACESimUE
	url = git@github.com:Xiangyuan-Xie/ACESimUE.git
	branch = main
